<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">DANH MỤC SÁCH</h4>
                <p class="card-category"> Sắp xếp theo</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                        <button onclick="window.location.href = '/book-add' " type="button" class="btn btn-primary">Thêm sách</button>

                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ISBN
                        </th>
                        <th>
                            Tên sách
                        </th>
                        <th>
                            Tác giả
                        </th>
                        <th>
                            Loại sách
                        </th>
                        <th>
                            Nhà xuất bản
                        </th>
                         <th>
                            Trạng thái
                        </th>
                        </thead>
                        <tbody>
                        {{#each datBook}}
                        <tr>
                            <td>
                                {{this.id}}
                            </td>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.author}}
                            </td>
                            <td>
                                {{this.type}}
                            </td>
                            <td>
                                {{this.NXB}}
                            </td>
                           
                            <td>       
                                     <button type="button" class="btn btn-success">Sửa</button>
                                      <button type="button" class="btn btn-danger">Xóa</button>      
                             </td>
                        </tr>
                        {{/each}}
                       
                       
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">

    </div>
</div>